name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install fastapi uvicorn pytest requests httpx

      - name: Run Tests
        run: pytest -v


  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    needs: tests  # Wait until tests finish successfully

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for proper Sonar analysis

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
